.gitignore
requirements.txt
.env
# Log files
*.log

*.db
# venv
venv/
ENV/
env/
.env/

# vscode stuff
.vscode/

# python files
__pycache__/
*.py[cod]
*$py.class

# node modules
node_modules/
package-lock.json
.DS_Store
dist/
build/