.ambulances-page {
  flex: 1;
  padding: 20px;
  background-color: #ff2929;
  transition: margin-left 0.3s ease;
}

.ambulances-page h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.ambulances-page.sidebar-open {
  margin-left: 250px;
}

.ambulances-list {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 20px;
}

.ambulances-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  transition: transform 0.2s;
}