.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  height: 0;
}

.ambulances-page {
  flex: 1;
  padding: 20px;
  background-color: #ff2929;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.ambulances-page h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.ambulances-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  align-items: flex-start;
  flex-shrink: 0;
}

.ambulances-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 300px;
}

.ambulances-card h2 {
  color: black;
}

.CRUD-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  margin: 0;
}

.new-ambulance-button {
  background-color: #fcfcfc;
  color: rgb(236, 41, 41);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}
