.hospitals-page {
  flex: 1;
  padding: 20px;
  background-color: #ff2929;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.hospitals-page h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.hospitals-page.sidebar-open {
  margin-left: 250px;
}

.hospitals-list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  align-items: flex-start;
}

.hospitals-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 300px;
}

.hospitals-card h2 {
  color: black;
  margin-top: 0;
}

.CRUD-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  margin: 0; 
}

.new-hospital-button-container {
    position: absolute;
    right: 40px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.new-hospital-button {
    background-color: #fcfcfc;
    color: rgb(236, 41, 41);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}