.leaflet-popup-content-wrapper {
  background-color: #c62828 !important;
  color: white !important;
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 10px;
  font-size: 1rem;
  color: white !important;
}

.leaflet-popup-close-button {
  color: white !important;
}

.leaflet-popup-tip {
  background-color: #c62828 !important;
}

.leaflet-popup-close-button:hover {
  color: #ffcccc !important;
}

.leaflet-control-zoom {
  top: 60px;;
}